@import '../../styles/variables';

.contacts{
    
}

.wrapper{
    @include block;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.list{
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    
}

.link{
    transition: 0.4s ease 0s;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    a{
        
    }
    &:last-child{
        margin-right: 0;
    }

    &:hover{
        transition: 0.8s ease 0s;
        transform: rotate(-360deg);
    }
}