$specialGrey: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(13,13,13,1) 100%);
$mintOcean: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,253,146,1) 100%);
$textWhite: rgb(230, 236, 243);
$yellow: rgb(221, 187, 77);
$textGray: rgb(53, 53, 53);

$specialGreyShadow:rgb(24, 24, 29);
$mintOceanShadow:rgba(47, 104, 74, 0.8);

$buttonMintOceanShadow: rgb(47, 59, 58);


@mixin block {
    box-shadow: 4px 6px 6px $specialGreyShadow;
    background: $mintOcean;
    max-width: 900px;
    padding: 16px;
    border-radius: 40px;
    margin: 10px auto;
}
@mixin button{
    font-weight: 700;
    transition: 0.3s ease 0s;
    text-align: center;
    max-width: 200px;
    width: 20rem;
    padding: 14px 30px;
    border-radius: 2rem;
    position: relative;
    border: none;
    user-select: none;
    cursor: pointer;
}

@mixin greyButton{
    @include button();
    color: $textWhite;
    background: $specialGrey;
    box-shadow: 2px 4px 4px $mintOceanShadow;
    &:active{
        transition: 0.3s ease 0s;
        background: $specialGreyShadow;
        box-shadow: none;
    }
}

@mixin mintButton{
    @include button();
    color: white;
    background: $mintOcean;
    box-shadow: 2px 4px 4px $specialGreyShadow;
    &:active{
        transition: 0.3s ease 0s;
        background: $mintOceanShadow;
        box-shadow: none;
    }
}

@mixin shadowAnimation{
    transition: 0.4s ease 0s;
    &:hover{
        transition: 0.4s ease 0s;
        box-shadow: none;
    }  
}

@mixin grayComponent{
    display: flex;
    flex-direction: column;
    box-shadow: 4px 6px 6px $mintOceanShadow;
    background: $specialGrey;
    max-width: 700px;
    padding: 30px;
    border-radius: 16px;
    margin: 10px auto;
}

@mixin popUp{
    @include grayComponent();
    position: absolute;
    max-width: 400px;
    z-index: 1000;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 30px;
}

@mixin form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin input{
    width: 20rem;
    box-shadow: 2px 4px 4px $specialGreyShadow;
    padding: 12px 30px 12px 10px;
    border-radius: 1rem;
    border: none;  
}

@mixin label{
    margin-bottom: 5px;
    width: 100%;
    font-weight: 700;
    color: white;
    text-align: left;
}