@import './variables';
@import './libs/normalize';

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1080px;
    color: $textWhite;
    background: $mintOcean;
    padding: 0 30px;
    height: 100%;
}
html, body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main{
    background: $specialGrey;
    box-shadow: 10px 6px 6px $mintOceanShadow;
    padding: 20px 30px;
    border-radius: 40px;
}