@import './variables';
@import './libs/normalize';

body{
    max-width: 1080px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    color: $textWhite;
    background-color: $mintOcean;
    padding: 20px;
}
.main{
    align-items: center;
    justify-content: center;
    background-color: $specialGrey;
    box-shadow: 10px 6px 6px $mintOceanShadow;
    padding: 50px 10px;
    margin: 0 auto;
    border-radius: 40px;
}