@import '../../styles/variables';



.wrapper{
    position: relative;
    @include grayComponent();
    @include shadowAnimation();
    justify-content: left;
    align-items: flex-start;
    width: 240px;
    height: 240px;
    margin: 0;
    padding: 20px;
    &:hover{
        transition: 0.8s ease 0s;
        box-shadow: none;
        background: $specialGreyShadow;
    }
}
.name{
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: left;
}
.counter{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    span{
        color: rgba(255, 255, 255, 0.7);
    }
}
.tool{
    color: white;
    font-weight: 700;
    padding: 4px 10px;
    border-radius: 50%;
    margin-bottom: 6px;
    justify-content: center;
    align-items: center;
    max-width: 40px;
}

.tools{
    position: absolute;
    right: 6px;
    top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.edit{
    width: 100%;
    object-fit: cover;
}
