@import '../../styles/variables';

.table{
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    justify-items: center;
    gap: 30px;
    padding: 20px 30px 20px 30px;
}

.container{
    @include block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 60px;
}

.tools{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.create{
    @include greyButton();
    color: white;
    font-weight: 700;
}

.menu{
    @include greyButton();
    color: white;
    font-weight: 700;
}

.empty{
    font-weight: 700;
    font-size: 26px;
    color: $textGray;
    margin-bottom: 3rem;
}