@import '../../styles/variables';


.task{
    @include block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $specialGrey;
    padding: 10px 20px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}

.counter{
    margin-right: 10px;
    padding: 10px 16px;
    border-radius: 50%;
    background-color: $specialGrey;
    border: 4px solid $yellow;
}
.description{
    margin-right: 30px;
}
.checker{
    margin-right: 10px;
}
.deleter{
    text-align: center;
    border-radius: 50%;
    background-color: $specialGrey;
    img{
        width: 2rem;
        object-fit: cover;
    }
}
