.contacts{
    &__wrapper{
        @include block;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .contacts__list{
            align-items: center;
            justify-content: space-between;
            display: flex;
            flex-direction: row;
            &-link{
                margin-right: 40px;
            }
        }
    }
}