@import './variables';

.header{
    @include block;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    &__row{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &-items{
            margin-right: 40px;
            padding: 20px 30px;
            align-items: center;
            justify-content: center;
            &:last-child{
                margin-right: 0;
            }
        }
        
    }
}
