@import '../../styles/variables';

.wrapper{
    position: relative;
    padding: 10px;
}

.search{
    width: 120%;
    padding: 20px 40px 20px 20px;
    border-radius: 2rem;
    border-color: $specialGrey;
    box-shadow: 2px 4px 4px $mintOceanShadow;
}

.cross{
    &::before{
        content: "";
        position: absolute;
        width: 18px; 
        height: 6px; 
        background: rgb(65, 59, 59);
        transform: rotate(-45deg);
    }
    &::after{
        transform: rotate(45deg);
        content: "";
        position: absolute; 
        width: 18px; 
        height: 6px; 
        background: rgb(65, 59, 59);
    }
    cursor: pointer;
    position: absolute; 
    top: 48%;
    right: 2px;
}